<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860551634519-ubsmh27p30b2lfan9ekn2c14md4udlkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860551634519-ubsmh27p30b2lfan9ekn2c14md4udlkq</string>
	<key>API_KEY</key>
	<string>AIzaSyCpUZT0xBOoTPzeGeM1e5oc3rgtmz82e_M</string>
	<key>GCM_SENDER_ID</key>
	<string>860551634519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jerry-lai.FitPal</string>
	<key>PROJECT_ID</key>
	<string>fitpal-b2dcd</string>
	<key>STORAGE_BUCKET</key>
	<string>fitpal-b2dcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860551634519:ios:b1e70c39fef902e20e8d12</string>
</dict>
</plist>